body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 20px;
  font-size: 2.5em;
}

#progressBar {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.options {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.option {
  border: 0.5mm solid lightgreen;
  padding: 25px 50px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.option.wide {
  min-width: 220px;
}

.option.selected {
  border: 1mm solid limegreen;
  box-shadow: 0 0 12px limegreen;
}

.option.selected::after {
  content: "✔";
  position: absolute;
  top: -15px;
  right: -15px;
  background: limegreen;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 8px 10px;
}

input[type="number"], 
input[type="text"] {
  font-size: 1em;
  padding: 20px;
  width: 80%;
  border: 0.5mm solid lightgreen;
  border-radius: 6px;
  margin: 10px 0 30px 0;
}

.hidden {
  display: none;
}

#work-images {
  margin-top: 20px;
}

#work-images .options {
  flex-wrap: nowrap; /* ให้อยู่บรรทัดเดียว */
}

.workimg {
  width: 250px;
  height: auto;
  border: 0.5mm solid lightgreen;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.workimg.selected {
  border: 1mm solid limegreen;
  box-shadow: 0 0 12px limegreen;
  position: relative;
}

.workimg.selected::after {
  content: "✔";
  position: absolute;
  top: -15px;
  right: -15px;
  background: limegreen;
  color: white;
  border-radius: 50%;
  font-size: 1em;
  padding: 8px 10px;
}

.nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 25px 50px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.next {
  background: #4CAF50;
  color: white;
}

.prev {
  background: #2196F3;
  color: white;
}

.submit {
  background: #FF5722;
  color: white;
}

#exitBtn {
  background: #E91E63;
  color: white;
  width: 100%;
  padding: 30px;
  font-size: 1em;
}
